/*body {
display: flex;
flex-direction: column;
}
.wrap {
	width: 300px;
	height: 100px;
	margin-bottom: 50px;
	border: 1px solid;
}
*/
body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 250vh;
}
.item {
	width: 100px;
	height: 100px;
	margin-bottom: 50px;
	border: 1px solid;
	background-color: green;
	opacity: 0.3;
}
