/*body {
display: flex;
flex-direction: column;
}
.wrap {
	width: 300px;
	height: 100px;
	margin-bottom: 50px;
	border: 1px solid;
}
*/
body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 200vh;
}
#elem {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid;
	background-color: green;
	opacity: 0.3;
	transition: 0.5s;
}
#code{
	position: fixed;
	top: 0;
	left: 0;
}